<% provide(:title, 'Reset password') %>
<h1>Đổi Mật Khẩu</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= render 'shared/error_messages' %>

    <%= hidden_field_tag :email, @user.email %>

    <%= f.label :Mật_Khẩu %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :Nhập_Lại_Mật_Khẩu, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "Cập Nhật Mật Khấu", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
