<% @products.each do |product| %>
<div class="container">
  <div class="product-category-detail"  >
    <div class="field-back">
      <div>
        <a href="http://localhost:3000/products"><button type="button" title="Quay Lại">
          <---
          Quay Lại
        </button></a>
      </div>
      <div class="field-img">
        <div class="item">
          <%= image_tag @product.show_image if @product.image.attached?  %>
        </div>
      </div>
      <div class="field-content">
        <h3><%= @product.name %></h3>
        <div class="field-price">
          <span><%= @product.price %></span>
          <span>đ</span>
        </div>
        <div class="field-note">
          <span class="field-text" style="white-space: pre-wrap " >
            <%= @product.content %>
          </span>
        </div>
        <div class="qty">
        <%= form_for OrderItem.new, remote: true do |f| %>
          <div class="lbl">Số Lượng</div>
            <div class="inner">
            <%= f.number_field :quantity, class:"form-control", min: 1, value: 1 %>
            </div>
            <br>
            <br>
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit "Thêm vào giỏ hàng", class:"btn-card" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

